{% extends "base.html" %}

{% block extra_head %}
{# Self-hosted іконковий шрифт (раніше вантажився з Google Fonts CDN, який
   на мобільних ріжуть блокувальники -> ламались іконки). Тепер 'self'. #}
<link rel="preload" href="{{ url_for('static', filename='fonts/material-symbols-rounded.woff2') }}" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{{ url_for('static', filename='css/material-symbols.css') }}?v={{ assets_version }}">
{% endblock %}

{% block molecular_css %}{% endblock %}
{% block molecular_bg %}{% endblock %}
{% block molecular_js %}{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/admin-confirm.js') }}?v={{ assets_version }}"></script>
<script src="{{ url_for('static', filename='js/admin-table-sort.js') }}?v={{ assets_version }}" defer></script>
<script src="{{ url_for('static', filename='js/admin-table-cards.js') }}?v={{ assets_version }}" defer></script>
{% endblock %}
