<div id="cookie-banner" class="cookie-banner" hidden>
  <div class="cookie-banner__inner">
    <p class="cookie-banner__text">
      Ми використовуємо файли Cookie для забезпечення роботи сайту та покращення вашого досвіду.
      <a href="{{ url_for('main.cookies') }}">Детальніше</a>
    </p>
    <div class="cookie-banner__actions">
      <button type="button" class="cookie-banner__btn cookie-banner__btn--accept" id="cookie-accept">Прийняти</button>
      <button type="button" class="cookie-banner__btn cookie-banner__btn--reject" id="cookie-reject">Лише необхідні</button>
    </div>
  </div>
</div>
<script defer src="{{ url_for('static', filename='js/cookie-banner.js') }}?v={{ assets_version }}"></script>
