<footer class="iprm-footer">
  <div class="iprm-footer__inner">
    <span class="iprm-footer__copy">&copy; 2026</span>
    <a href="{{ url_for('main.index') }}" class="iprm-footer__logo">
      <img src="{{ url_for('static', filename='svg/IPRM-logo-complex.svg') }}" alt="IPRM" class="iprm-logo__icon">
    </a>
    <div class="iprm-footer__right">
      <div class="iprm-footer__socials">
        <a href="#" class="iprm-footer__social-icon"><img src="{{ url_for('static', filename='svg/social/facebook.svg') }}" alt="Facebook"></a>
        <a href="#" class="iprm-footer__social-icon"><img src="{{ url_for('static', filename='svg/social/instagram.svg') }}" alt="Instagram"></a>
      </div>
      <a href="tel:+380660976693" class="iprm-footer__phone">+38066 097 66 93</a>
    </div>
  </div>
</footer>
