{"openapi":"3.0.0","info":{"title":"Sintegrum API","description":"Rest API","version":"1.0"},"servers":[{"url":"https://api.sintegrum.com","description":"Sintegrum API server"}],"paths":{"/external/{company}/branch/list":{"get":{"tags":["Branch"],"summary":"List Branch","description":"List branch","parameters":[{"$ref":"#/components/parameters/company"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Branch"}}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/candidate":{"post":{"tags":["Candidate"],"summary":"Create Candidate","description":"Create candidate","parameters":[{"$ref":"#/components/parameters/company"}],"requestBody":{"description":"Request Body Candidate","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CandidateCreate"}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Candidate"}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/candidate/{candidateId}":{"get":{"tags":["Candidate"],"summary":"View Candidate","description":"View candidate","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/candidateId"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Candidate"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Candidate"],"summary":"Update Candidate","description":"Update candidate","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/candidateId"}],"requestBody":{"description":"Request Body Candidate","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CandidateCreate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Candidate"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Candidate"],"summary":"Archive Candidate","description":"Archive candidate","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/candidateId"}],"responses":{"204":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/external/{company}/candidate/list":{"get":{"tags":["Candidate"],"summary":"List Candidate","description":"List candidate","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/per-page"},{"name":"sort","in":"query","description":"sort page result [full_name, first_name, salary_min, salary_max, last_visit, created_at, cv_status, mark_cv, mark_quiz, progress_percent, position_name, branch_name, -last_visit]","schema":{"type":"string"},"example":"last_visit"},{"name":"filter","in":"query","description":"filter result example filter[branches][in][0]=523; filter[departments][in][0]=2","schema":{"type":"string"},"example":""}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Candidate"}}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/config":{"get":{"tags":["Config"],"summary":"Get Company Config","description":"Get your company config","parameters":[{"$ref":"#/components/parameters/company"}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/external/{company}/course":{"get":{"tags":["Course"],"summary":"List Course","description":"List course","parameters":[{"$ref":"#/components/parameters/company"},{"name":"page","in":"query","description":"page result","schema":{"type":"string"},"example":"1"},{"name":"per-page","in":"query","description":"page size result","schema":{"type":"string"},"example":"20"},{"name":"sort","in":"query","description":"sort page result [id, name, -id]","schema":{"type":"string"},"example":"id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Course"}}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/department/list":{"get":{"tags":["Department"],"summary":"List Departments","description":"List your company departments","parameters":[{"$ref":"#/components/parameters/company"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Department"}}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/position":{"get":{"tags":["Position"],"summary":"List Position","description":"List position","parameters":[{"$ref":"#/components/parameters/company"},{"name":"page","in":"query","description":"page result","schema":{"type":"string"},"example":"1"},{"name":"per-page","in":"query","description":"page size result","schema":{"type":"string"},"example":"20"},{"name":"sort","in":"query","description":"sort page result [id, name, -id]","schema":{"type":"string"},"example":"id"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Position"}}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/position-group/list":{"get":{"tags":["Position Group"],"summary":"List Position Group","description":"List position group","parameters":[{"$ref":"#/components/parameters/company"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PositionGroup"}}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/progress/assigned/{userId}":{"get":{"tags":["Progress"],"summary":"Progress User Assigned","description":"Progress user assigned","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/userId"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Progress"}}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/progress/finished/{userId}":{"get":{"tags":["Progress"],"summary":"Progress User Finished","description":"Progress user finished","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/userId"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Progress"}}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/progress/in-progress/{userId}":{"get":{"tags":["Progress"],"summary":"Progress User in Progress","description":"Progress user in progress","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/userId"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Progress"}}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/progress-item/cv-list":{"get":{"tags":["Progress Item"],"summary":"List 3D Resume Item","description":"List 3D resume item","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/per-page"},{"name":"filter","in":"query","description":"filter result example filter[branches][in][0]=523; filter[departments][in][0]=2","schema":{"type":"string"},"example":""}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CvProgressItem"}}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/progress-item/list":{"get":{"tags":["Progress Item"],"summary":"List Progress Item","description":"List progress item","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/per-page"},{"name":"filter","in":"query","description":"filter result example filter[branches][in][0]=523; filter[departments][in][0]=2","schema":{"type":"string"},"example":""}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProgressItem"}}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/statistic/index":{"get":{"tags":["Statistic"],"summary":"Get Overall Company Statistic and Counters","description":"Get overall company statistic and counters","parameters":[{"$ref":"#/components/parameters/company"}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/external/{company}/student":{"post":{"tags":["Student"],"summary":"Create Student","description":"Create student","parameters":[{"$ref":"#/components/parameters/company"}],"requestBody":{"description":"Request Body Student","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentCreate"}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Student"}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/student/{studentId}":{"get":{"tags":["Student"],"summary":"View Student","description":"View student","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/studentId"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Student"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Student"],"summary":"Update Student","description":"Update student","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/studentId"}],"requestBody":{"description":"Request Body Student","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentCreate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Student"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Student"],"summary":"Archive Student","description":"Archive student","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/studentId"}],"responses":{"204":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/external/{company}/student/list":{"get":{"tags":["Student"],"summary":"List Student","description":"List student","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/per-page"},{"name":"sort","in":"query","description":"sort page result [full_name, first_name, salary_min, salary_max, last_visit, created_at, cv_status, mark_cv, mark_quiz, progress_percent, position_name, branch_name, -last_visit]","schema":{"type":"string"},"example":"last_visit"},{"name":"filter","in":"query","description":"filter result example filter[branches][in][0]=523; filter[departments][in][0]=2","schema":{"type":"string"},"example":""}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Student"}}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/user":{"post":{"tags":["User"],"summary":"Create User","description":"Create user","parameters":[{"$ref":"#/components/parameters/company"}],"requestBody":{"description":"Request Body User","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCreate"}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}},"security":[{"bearerAuth":[]}]}},"/external/{company}/user/{userId}/branches/{branchId}":{"post":{"tags":["User"],"summary":"Create Branch User","description":"Create branch user","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/userId"},{"$ref":"#/components/parameters/branchId"}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["User"],"summary":"Delete Branch User","description":"Delete branch user","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/userId"},{"$ref":"#/components/parameters/branchId"}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/external/{company}/user/{userId}/departments/{departmentId}":{"post":{"tags":["User"],"summary":"Create Department User","description":"Create department user","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/userId"},{"$ref":"#/components/parameters/departmentId"}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["User"],"summary":"Delete Department User","description":"Delete department user","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/userId"},{"$ref":"#/components/parameters/departmentId"}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/external/{company}/user/{userId}/positions/{positionId}":{"post":{"tags":["User"],"summary":"Create Position User","description":"Create position user","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/userId"},{"$ref":"#/components/parameters/positionId"}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["User"],"summary":"Delete Position User","description":"Delete position user","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/userId"},{"$ref":"#/components/parameters/positionId"}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/external/{company}/user/{userId}":{"get":{"tags":["User"],"summary":"View User","description":"View user","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/userId"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["User"],"summary":"Update User","description":"Update user","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/userId"}],"requestBody":{"description":"Request Body User","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCreate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["User"],"summary":"Archive User","description":"Archive user","parameters":[{"$ref":"#/components/parameters/company"},{"$ref":"#/components/parameters/userId"}],"responses":{"204":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/external/{company}/user/list":{"get":{"tags":["User"],"summary":"List User","description":"List user","parameters":[{"$ref":"#/components/parameters/company"},{"name":"page","in":"query","description":"page result","schema":{"type":"string"},"example":"1"},{"name":"per-page","in":"query","description":"page size result","schema":{"type":"string"},"example":"20"},{"name":"sort","in":"query","description":"sort page result [full_name, first_name, email, last_visit, branch_name, health, position_name]","schema":{"type":"string"},"example":"last_visit"},{"name":"filter","in":"query","description":"filter result example filter[branches][in][0]=523; filter[departments][in][0]=2","schema":{"type":"string"},"example":""}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"Branch":{"properties":{"id":{"description":"The branch id","type":"integer"},"name":{"description":"The branch name","type":"string","example":"London office"},"status":{"description":"The branch status (0 - unactive, 1 - active)","type":"integer","example":"1"}},"type":"object"},"Candidate":{"properties":{"id":{"description":"The candidate id","type":"integer"},"email":{"description":"The candidate email","type":"string","example":"mail@gmail.com"},"phone":{"description":"The user phone","type":"string","example":"+380990000000"},"first_name":{"description":"The candidate first name","type":"string","example":"John"},"last_name":{"description":"The candidate last name","type":"string","example":"Smith"},"status":{"description":"The candidate status (0 -blocked, 1 - unconfirmed, 2- active, 3 - archive)","type":"integer"},"access":{"description":"The candidate access status","type":"integer"},"language":{"description":"The candidate select language short key","type":"string","example":"en"},"created_at":{"description":"The candidate created date timestamp","type":"integer"},"hired_by":{"description":"The candidate hired by user id","type":"integer"},"hired_at":{"description":"The candidate hired date timestamp","type":"integer"},"recovery_at":{"description":"The candidate recovered date timestamp","type":"integer"}},"type":"object"},"CandidateCreate":{"properties":{"email":{"description":"The candidate email","type":"string","example":"mail@gmail.com"},"phone":{"description":"The student phone","type":"string","example":"+380990000000"},"first_name":{"description":"The candidate first name","type":"string","example":"John"},"last_name":{"description":"The candidate last name","type":"string","example":"Smith"},"status":{"description":"The candidate status (0 -blocked, 1 - unconfirmed, 2- active, 3 - archive)","type":"integer"},"language":{"description":"The candidate select language short key","type":"string","example":"en"}},"type":"object"},"Course":{"properties":{"id":{"description":"The position id","type":"integer"},"name":{"description":"The position name","type":"string","example":"Sales training"},"position_type_id":{"description":"Identity postition type id","type":"integer"},"position_group_id":{"description":"Identity position group id","type":"integer"},"status":{"description":"The position status (0 - unactive, 1 - active, 2 - archive)","type":"integer"},"parent_id":{"description":"Identity relation position id","type":"integer"},"description":{"description":"The position description","type":"string"},"description_vacancy":{"description":"The position description_vacancy for position recruiting","type":"string"},"price":{"description":"Price value course","type":"integer"},"avatar_id":{"description":"Identity icon avatar with type avatar","type":"integer"},"background_id":{"description":"Identity icon avatar with type background","type":"integer"},"count_registration":{"description":"The position count_registration, count registration from link registration","type":"integer"},"created_by":{"description":"The user created by user id","type":"integer"}},"type":"object"},"CvProgressItem":{"properties":{"id":{"description":"Progress item id","type":"integer"},"user_id":{"description":"Identity user id owner progress position","type":"integer"},"position_id":{"description":"Identity position id","type":"integer"},"status":{"description":"The cv progress status (0 - new, 1 - in process, 2 - like, 3 - dislike)","type":"integer"},"finished_at":{"description":"Unix timestamp when item was finished","type":"integer"},"position_name":{"description":"Position name","type":"string"},"first_name":{"description":"User first name","type":"string"},"last_name":{"description":"User last name","type":"string"},"position_type_alias":{"description":"Position type alias","type":"string"},"branch":{"description":"Branch name list","type":"string"}},"type":"object"},"Department":{"properties":{"id":{"description":"The department id","type":"integer"},"name":{"description":"The department name","type":"string","example":"Accountant , Logistics"},"status":{"description":"The department status (0 - unactive, 1 - active)","type":"integer","example":"1"}},"type":"object"},"Group":{"properties":{"id":{"description":"The user group id","type":"integer"},"name":{"description":"The user group name","type":"string","example":"London office"},"status":{"description":"The user group status (0 - unactive, 1 - active)","type":"integer","example":"1"}},"type":"object"},"Position":{"properties":{"id":{"description":"The position id","type":"integer"},"name":{"description":"The position name","type":"string","example":"Sales training"},"position_type_id":{"description":"Identity postition type id","type":"integer"},"position_group_id":{"description":"Identity position group id","type":"integer"},"status":{"description":"The position status (0 - unactive, 1 - active, 2 - archive)","type":"integer"},"parent_id":{"description":"Identity relation position id","type":"integer"},"description":{"description":"The position description","type":"string"},"description_vacancy":{"description":"The position description_vacancy for position recruiting","type":"string"},"avatar_id":{"description":"Identity icon avatar with type avatar","type":"integer"},"background_id":{"description":"Identity icon avatar with type background","type":"integer"},"count_registration":{"description":"The position count_registration, count registration from link registration","type":"integer"},"created_by":{"description":"The user created by user id","type":"integer"}},"type":"object"},"PositionGroup":{"properties":{"id":{"description":"The position group id","type":"integer"},"name":{"description":"The position group name","type":"string","example":"Section sales"},"status":{"description":"The position group status (0 - unactive, 1 - active, 2 - archive)","type":"integer"},"is_last_row":{"description":"The position group in list (0-regular, 1-last row)","type":"integer"}},"type":"object"},"Progress":{"properties":{"user_id":{"description":"Identity user id owner progress position","type":"integer"},"position_id":{"description":"Identity position id","type":"integer"},"status":{"description":"The progress status (0 - assigned, 1 - in progress, 2 - approved, 3 - reject, 4 - cancel)","type":"integer"},"created_at":{"description":"The datetime created at","type":"integer"},"percent":{"description":"The progress percent","type":"integer"}},"type":"object"},"ProgressItem":{"properties":{"id":{"description":"Progress item id","type":"integer"},"user_id":{"description":"Identity user id owner progress position","type":"integer"},"position_id":{"description":"Identity position id","type":"integer"},"status":{"description":"The progress item status (0 - created, 1 - checking, 2 - approved, 3 - rejected, 4 - canceled)","type":"integer"},"finished_at":{"description":"Unix timestamp when item was finished","type":"integer"},"position_name":{"description":"Position name","type":"string"},"track_item_id":{"description":"Track item id","type":"integer"},"track_item_name":{"description":"Track item name","type":"string"},"first_name":{"description":"User first name","type":"string"},"last_name":{"description":"User last name","type":"string"},"position_type_alias":{"description":"Position type alias","type":"string"},"branch":{"description":"Branch name list","type":"string"}},"type":"object"},"Student":{"properties":{"id":{"description":"The student id","type":"integer"},"email":{"description":"The student email","type":"string","example":"mail@gmail.com"},"phone":{"description":"The user phone","type":"string","example":"+380990000000"},"first_name":{"description":"The student first name","type":"string","example":"John"},"last_name":{"description":"The student last name","type":"string","example":"Smith"},"status":{"description":"The student status (0 -blocked, 1 - unconfirmed, 2- active, 3 - archive)","type":"integer"},"access":{"description":"The student access status","type":"integer"},"language":{"description":"The student select language short key","type":"string","example":"en"},"created_at":{"description":"The student created date timestamp","type":"integer"},"hired_by":{"description":"The student hired by user id","type":"integer"},"hired_at":{"description":"The student hired date timestamp","type":"integer"},"recovery_at":{"description":"The student recovered date timestamp","type":"integer"}},"type":"object"},"StudentCreate":{"properties":{"email":{"description":"The student email","type":"string","example":"mail@gmail.com"},"phone":{"description":"The student phone","type":"string","example":"+380990000000"},"first_name":{"description":"The student first name","type":"string","example":"John"},"last_name":{"description":"The student last name","type":"string","example":"Smith"},"status":{"description":"The student status (0 -blocked, 1 - unconfirmed, 2- active, 3 - archive)","type":"integer"},"language":{"description":"The student select language short key","type":"string","example":"en"}},"type":"object"},"User":{"properties":{"id":{"description":"The user id","type":"integer"},"email":{"description":"The user email","type":"string","example":"mail@gmail.com"},"phone":{"description":"The user phone","type":"string","example":"+380990000000"},"first_name":{"description":"The user first name","type":"string"},"last_name":{"description":"The user last name","type":"string"},"status":{"description":"The user status (0 -blocked, 1 - unconfirmed, 2- active, 3 - archive)","type":"integer"},"access":{"description":"The user access status","type":"integer"},"created_at":{"description":"The user created date timestamp","type":"integer"},"language":{"description":"The user select language short key","type":"string"},"hired_by":{"description":"The user hired by user id","type":"integer"},"hired_at":{"description":"The user hired date timestamp","type":"integer"},"recovery_at":{"description":"The user recovered date timestamp","type":"integer"},"active_to":{"description":"The user active to date timestamp","type":"integer"}},"type":"object"},"UserCreate":{"properties":{"email":{"description":"The user email","type":"string","example":"mail@gmail.com"},"phone":{"description":"The user phone","type":"string","example":"+380990000000"},"first_name":{"description":"The user first name","type":"string"},"last_name":{"description":"The user last name","type":"string"},"status":{"description":"The user status (0 -blocked, 1 - unconfirmed, 2- active, 3 - archive)","type":"integer"},"language":{"description":"The user select language short key","type":"string"},"active_to":{"description":"The user active to date timestamp","type":"integer"}},"type":"object"}},"parameters":{"company":{"name":"company","in":"path","description":"Your company's unique alias at sintegrum.com eg yourcompany.sintegrum.com","required":true,"schema":{"type":"string"}},"departmentId":{"name":"departmentId","in":"path","description":"Department id","required":true,"schema":{"type":"string"}},"branchId":{"name":"branchId","in":"path","description":"Branch id","required":true,"schema":{"type":"string"}},"positionId":{"name":"positionId","in":"path","description":"Position Id","required":true,"schema":{"type":"string"}},"userId":{"name":"userId","in":"path","description":"User Id","required":true,"schema":{"type":"string"}},"candidateId":{"name":"candidateId","in":"path","description":"Candidate Id","required":true,"schema":{"type":"string"}},"studentId":{"name":"studentId","in":"path","description":"Student Id","required":true,"schema":{"type":"string"}},"page":{"name":"page","in":"query","description":"page result","schema":{"type":"string"},"example":"1"},"per-page":{"name":"per-page","in":"query","description":"page size result","schema":{"type":"string"},"example":"20"},"sort":{"name":"sort","in":"query","description":"sort page result [full_name, first_name, salary_min, salary_max, last_visit, created_at, cv_status, mark_cv, mark_quiz, progress_percent, position_name, branch_name, -last_visit]","schema":{"type":"string"},"example":"last_visit"},"filter":{"name":"filter","in":"query","description":"filter result example filter[branches][in][0]=523; filter[departments][in][0]=2","schema":{"type":"string"},"example":""}},"securitySchemes":{"bearerAuth":{"type":"http","name":"bearerAuth","in":"header","bearerFormat":"secret","scheme":"bearer"}}},"tags":[{"name":"Branch","description":"Section for interact with your company branches. Create, list etc."},{"name":"Candidate","description":"Section for interact with your candidates. Create, update, view, delete, list."},{"name":"Config","description":"Retreive your company configuration and settings."},{"name":"Course","description":"Section for interact with your courses. index"},{"name":"Department","description":"Section for interact with your company departments. Create, list etc."},{"name":"Position","description":"Section for interact with your positions. Create, update, view, delete, list."},{"name":"Position Group","description":"Section for interact with your position groups. Create, update, view, delete, list."},{"name":"Progress","description":"Section for interact with your users/candidates progress. Get assigned, finished, in profress."},{"name":"Progress Item","description":"Section for interact with your users/candidates progress items. Get list in checking status."},{"name":"Statistic","description":"Retreive your company statistic data and counters."},{"name":"Student","description":"Section for interact with your students. Create, update, view, delete, list."},{"name":"User","description":"Section for interact with your users. Create, update, view, delete, list."}]}